<form action="<%= url + "delete"%>" method="post" name="delete">
<div class="postzoom">
    <input type="submit" value="Delete"><input onclick="history.go(-1)" type="button" value="Cancel">

</div>
</form>
